body{
    font-family: 'Bona Nova', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.button-color{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(salmon, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 95%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}